.course-admin-page .submit-btn {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.course-admin-page .submit-btn button.disabled{
    opacity: 0.5;
    cursor: no-drop;
}

.course-admin-page .submit-btn button {
    width: 100%;
    background-color: var(--main-blue-sky);
    color: var(--main-back);
    font-size: 1.2em;
    border: 0;
    outline: 0;
    padding: 10px;
    font-weight: bold;
}